



* {
  padding: 0;
  margin:0;
  font-family: 'Inter', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  --dark: #391559;
  --datail: #a34cff;
}

body {
  padding-top: 5em;
  background-color: var(--dark);
}

header {
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 1em;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.373);
  background-color: rgba(0,0,0,0.2);
  width: 100%;
}

header > h1 {
  color: white;
  font-size: 2vw;

}

.banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  background-image: url('./img/banner-image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:50%;
  height: 50vw;
  background-attachment: fixed;
  animation: banner-parallax 1s linear forwards;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll)* 1.2 * -1s);
  overflow: hidden;
}


.banner > h1 {
  color: white;
  text-shadow: 1px 1px 0.1em white;
  animation: banner-parallax 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  font-size: 10vw;
  margin-bottom: 0.2em;
  z-index: 1;
}

.title {
  animation-name: title;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.banner > span {
  color: #00ff2f;
  letter-spacing: 0.1em;
  z-index: 1;
  padding: 0.5em 3em;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.682);
  text-shadow: 0 0 1em white;
}

.banner > .shadow {
  width: 100%;
  z-index: 0;
  position: absolute;
  height: 0vh;
  top: 0;
  background-color: rgba(0,0,0,0.5)
}

.post-list {
  display: flex;
  gap: 1em;
  background-color: white;
  place-items: center;
  flex-direction: column;
  padding: 2em 0;
}

.post {
  width: 80%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 5px;
  color: white;
  background-color: var(--dark);
  height: 500px;
}

.post > .post-content {
  margin-top: 2em;
  word-spacing: 0.1em;
  overflow: scroll;
  max-height: 100px;
}

.post > .post-date {
  color: rgba(255, 255, 255, 0.542);
  width: 90%;
  padding-bottom: 0.2em;
  text-align: right;
}

.post > .post-header {
  height: 300px;  
  width: 100%;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 60%;
}

@keyframes title {
  0% {
    letter-spacing: 1px;
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    letter-spacing: 0.2em;
  }
}

@keyframes banner-parallax {
  0%{
  }
  100% {
    font-size: 0%;
  }
  
}

@media screen  and (max-width:600px){
  .banner {
    background-position: top;
  }
  .banner > h1 {
    font-size: 12vw;
    margin-bottom: 0.2em;
  }
  .banner > span {
    font-size: 2vw;
  }
  body {
    padding-top: 4em;
  }
  header > h1 {
    text-align: center;
    font-size: 1em;
  }

  .post {
    padding: 0;
    height: fit-content;
  }
  .post > .post-header {
    background-size: cover;
    background-attachment:unset;
  }

  .post-content {
    width: 90%;
  }

}